<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>{{ .title }}</title>

    <!--JQUERY-->
    <script src="assets/local/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="assets/local/bootstrap.min.css">
    <script src="assets/local/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <script src="assets/local/solid.css"></script>
    <script src="assets/local/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="assets/css/index.css" th:href="@{/css/index.css}">

    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="assets/img/user.png" th:src="@{/img/user.png}"/>
                </div>
                <form class="col-12" action="/login" method="post">
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="{{ .data.text }}" id="password" name="password"/>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  登录 </button>
                </form>
                <div class="col-12 forgot">
                    <a href="#">{{ .data.help1 }}</a>
                </div>
                <div class="col-12 forgot">
                    <a href="#">{{ .data.help2 }}</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
